# core
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-core==2.20.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
requests==2.32.3
feedparser==6.0.11
beautifulsoup4==4.12.3

# transformers + nlp
transformers==4.43.3
torch>=2.2.0
sentencepiece>=0.1.99
accelerate>=0.33.0
sentence-transformers==3.0.1

# vector store
chromadb==0.5.11

# web/API/UI
fastapi==0.112.1
uvicorn==0.30.5
streamlit==1.37.1

# plots
matplotlib==3.8.4
